<header>
  <div>
    <img src="../assets/logo.svg" alt="Example" width="40"> <label class="title">Willkommen bei ihrer Bank</label>
    <nav>
      <ul>
        <li><button routerLink="/">Übersicht</button></li>
        <li><button routerLink="/account">Konto</button></li>
        <li><button routerLink="/advisor">Kontakt</button></li>
        <li><button id="settingButton" hidden routerLink="/settings">Einstellungen</button></li>
        <li><button id="loginButton" routerLink="/login">Login</button></li>
        <li><form action="https://bank.dvess.network"><button id="logoutButton" hidden onclick="logoutUser()" type="submit">Logout</button></form></li>
        <li><form action="https://portal.dvess.network"><button type="submit" value="Portal">Portal</button></form></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
  <app-nav></app-nav>
  <app-contact-card></app-contact-card>
</div>
