<div class="main_container">

  <div class="header">
    <label>Login</label>
  </div>
  <br />
  <label>E-Mail:</label>
  <input type="text" placeholder="E-Mail" id="mail_signin">

  <label>Passwort:</label>
  <input type="password" placeholder="Passwort" id="password_signin">
  <button id="signinButton" onclick="loginUser()">Anmelden</button>
  <form action="https://bank.dvess.network"><button id="signoutButton" onclick="logoutUser()" type="submit" value="Portal">Abmelden</button></form>
</div>
