<div class="main_container">
  <!--
    Icons erstellt von <a href="https://www.flaticon.com/de/autoren/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/de/" title="Flaticon"> www.flaticon.com</a>
    Icons erstellt von <a href="https://www.flaticon.com/de/autoren/google" title="Google">Google</a> from <a href="https://www.flaticon.com/de/" title="Flaticon"> www.flaticon.com</a>
    Icons erstellt von <a href="https://www.flaticon.com/de/autoren/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/de/" title="Flaticon"> www.flaticon.com</a>
    Icons erstellt von <a href="https://www.flaticon.com/de/autoren/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/de/" title="Flaticon"> www.flaticon.com</a>
    Icons erstellt von <a href="https://www.flaticon.com/de/autoren/bqlqn" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/de/" title="Flaticon"> www.flaticon.com</a>


    Icons erstellt von <a href="https://www.flaticon.com/de/autoren/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/de/" title="Flaticon"> www.flaticon.com</a>


  <div class="title">
    <h2>Navigation</h2><br />
  </div>
-->
  <div class="header">
    <label>Navigation</label>
  </div>

  <div  style="display: flex; height: 90%;">
    <div routerLink="/exchange" class="center" >
      <img src="../assets/nav/exchange.svg" alt="Example" width="100" height="50">
      <h2>Überweisung</h2>
    </div>

    <div routerLink="/account" class="center">
      <img src="../assets/nav/euro.svg" alt="Example" width="100" height="50">
      <h2>Konto</h2>
    </div>

    <div routerLink="/advisor" class="center">
      <img src="../assets/nav/kontakt.svg" alt="Example" width="100" height="50" >
      <h2>Kontakt</h2>
    </div>

    <div routerLink="/settings" class="center">
      <img src="../assets/nav/einstellungen.svg" alt="Example" width="100" height="50">
      <h2>Einstellungen</h2>
    </div>
  </div>
</div>
