<div class="main_container" style="padding-bottom: 1em ;">
  <div class="header">
    <label>Kontoansicht</label>
  </div>

  <div id="account_panel" style="height: 90%;">
    <!--Template----------------------------------------------------------->
      <div id="account_view_template" hidden>
        <label id="account_description"></label>
        <hr>
        <div style="display: flex;">
          <div class="center leftside">
            <label id="account_nr"></label><br />
            <label id="account_owner"></label>
          </div>
          <div class="rightside center">
            <label id="account_amount" class=""></label>
          </div>
        </div>
        <hr>
      </div>
      <!----------------------------------------------------------------->
  </div>
  <button id="account_button" routerLink="/account" class="overview_button">Kontoübersicht</button>
  <div>
    <label>Kein Konto vorhanden</label><br />
    <label>Kontobeschreibung: <input id="new_account_description" type="text"></label><br />
    <button onclick="createAccount()">Konto erstllen</button>
  </div>
</div>
