.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #FF0000;
  color: white;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid black;
}

.spacer {
  flex: 1;
}
