<div class="main_container" style="padding-bottom: 1em ;">
  <div class="header">
    <label>Kontakt</label>
  </div>

  <div style="height: 90%; display: flex;">
    <img src="../assets/nav/kontakt.svg" alt="Example" width="200">
    <div class="card_content">
      <h2 id="advisor_name">Sie werden beraten von: Gerald Geizhals</h2>
      <p>In ihrer Bank am Standort:<br />
        SmartCity</p>
      <button routerLink="/advisor" style="float: right; margin-right: 0;">Kontaktieren</button>
    </div>
  </div>
  
</div>
